<section>
	<div class="titleproblem wow fadeInLeft">
		<h3 id="about">About</h3>
	</div>
	
	<div class="face-lockup wow fadeInUp">
	
		<div class="face-img"></div>
	</div>
	
	<div class="blurb wow fadeInUp"
		<p><strong>Welcome! </strong>I am currently specializing in Electrical Engineering while pursuing a Bachelor of Applied Science degree at the University of Waterloo. Scroll down to see some my interests, skill sets and click <a href = "/Resume copy.pdf"> here</a> to see my resume. Feel free to contact me about employment and thank-you for visiting this site! </p>
	</div>

</section>