<section class="alt-section section-contact">
	<div class="titleproblem wow fadeInLeft">
		<h3 id="contact"><strong>Contact<strong></h3>
	</div>
	<div class="address wow fadeInLeft">
		<div class="address-picture">
			<em class="icon-home3">Brampton, ON</em>
		</div>
		
	</div>	
	<div class="address1 wow fadeInLeft">
		<div class="address-picture">
			<p class="icon-phone"><strong>(647) 983-2646</strong></p>
		</div>
		
	</div>
	<div class="address2 wow fadeInLeft">
		<div class="address-picture">
			<p class="icon-envelop"><strong>tpathan@uwaterloo.ca</strong></p>
		</div>
		
	</div>

		

	

		
</section>