<section class="alt-section section-contact">
	<div class="titleproblem wow fadeInLeft">
		<h3 id="contact"><strong>Contact<strong></h3>
	</div>
	<div class="address wow fadeInLeft">
		<div class="address-picture">
			<p class="icon-home3"><strong>Brampton, ON </strong></p>
		</div>
		
	</div>	
	<div class="address1 wow fadeInLeft">
		<div class="address-picture">
			<p class="icon-phone"><strong>(647) 983-2646</strong></p>
		</div>
		
	</div>
	<div class="address2 wow fadeInLeft">
		<div class="address-picture">
			<p class="icon-envelop"><strong>tpathan@uwaterloo.ca</strong></p>
		</div>
		
	</div>

	<hr class="bar">
		
	<div class="form wow fadeInRight">
		<form method="POST" action="//formspree.io/tanpat13@gmail.com">
	    
		    <div class="contact-info-group">
			    <label><span><strong>NAME</strong></span>
			    <input type="text" name="name"></label>
			    
			    <label><span><strong>EMAIL</strong></span>
			    <input type="email" name="_replyto"></label>
		    
		    </div>
		    <label><span><strong>MESSAGE<strong></span>
		    <textarea name="message"></textarea></label>
		    
		    <input type="submit" value="Send">
		</form>
	</div>
	

		
</section>