<header>
	<nav>
		<a href="#about">About</a>
		<a href="#qualifications">Skills</a>
		<a href="#experience">Experience</a>
		<a href="#contact">Contact</a>
	</nav>

	<h1 class="title wow fadeInDown animated"data-wow-delay= "1s"><span>Tanvir Pathan </span></h1>
	<p class="kicker wow fadeInDown animated"data-wow-delay= "1s">Electrical Engineer // Graphic Designer // Web Developer<p/>

	<div class="social-links wow rubberBand">
	
		<a href="https://twitter.com/spidertan" class="icon-twitter"></a>
		<a href="https://www.facebook.com/tanvir.pathan.180" class="icon-facebook"></a>
		<a href="https:/github.com/tanvirpathan" class="icon-github5"></a>
	</div>


</header>



	

