<section class="alt-section section-qualification">
	<div class="titleproblem wow fadeInLeft">
		<h3 id="qualifications"><strong>Qualifications<strong></h3>
	</div>
	<div class="skill-container">
		<div class="skill-lockup">
			<div class="skill-name wow pulse">Languages</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label">Java</div>
				<div class="skill-icons skill-6">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">C#</div>
				<div class="skill-icons skill-7">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">HTML</div>
				<div class="skill-icons skill-5">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">CSS</div>
				<div class="skill-icons skill-4">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">jQuery</div>
				<div class="skill-icons skill-3">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		</div>
		<div class="skill-lockup">
			<div class="skill-name wow pulse">Software</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label">Adobe Photoshop</div>
				<div class="skill-icons skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">Adobe AfterEffects</div>
				<div class="skill-icons skill-5">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">Microsoft Office</div>
				<div class="skill-icons skill-9">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">Sublime Text</div>
				<div class="skill-icons skill-9">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">Prezi</div>
				<div class="skill-icons skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		</div>
		<div class="skill-lockup">
			<div class="skill-name wow pulse">Operating Systems</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">Mac OSX and iOS</div>
				<div class="skill-icons skill-9">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">Windows XP to 8</div>
				<div class="skill-icons skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		</div>
		<div class="skill-lockup">
			<div class="skill-name wow pulse">Personal Skills</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">Communication</div>
				<div class="skill-icons skill-7">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">Research Skills</div>
				<div class="skill-icons skill-9">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">Adaptability</div>
				<div class="skill-icons skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit wow zoomInUp">
				<div class="skill-label ">Time Management</div>
				<div class="skill-icons skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
		</div>
	</div>



</section>