html, body, h1, #titlepage, #wrapper, #somethingelse {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image:url("../img/myself.jpg"); 
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

@font-face {
	font-family: menlo;
	src: url(Menlo-Regular.ttf);
}

.name {
  	position: relative;
  	display: flex;
  	justify-content: flex-end;
  	color: #9fea82;
  	font-family: menlo;
  	top: 90px;
  	letter-spacing: 15px;
  	font-size: 40px;
}

.icon {
	position: relative;
	font-size: 30px;
	color: #f7f7f7;
	text-align: center;
	letter-spacing: 17px;
	top: 220px;
	z-index: 100;
}






